<footer class="site-footer">
  <!--- <span class="footer-ascii" aria-hidden="true">═══════════════════════════════════════════════════════════════════════════════</span> --->
  <p>&copy; {{ site.title }}</p>
  <p>// END OF TRANSMISSION</p>
</footer>
